:root {
  --primary: #31241e;
  --bg: #d0b8a8;
  --second-bg-color: #282828;
  --text-color: #fff;
  --main-color: #181818;
  --background: #f8ede3;
  --sc: #8d493a;
  --tc: #f8ede3;
  --brown: #a44a0d;
  --cream: #ddd4ce;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "poppins";
  background-color: var(--bg);
  color: #31241e;
  min-height: 5000px;
}

/*----navbar start----*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 2px solid var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}

.firstname {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--tc);
}

.firstname span {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: #c6aa97;
}

.production a {
  content: "";
  display: inline-block;
  font-family: poppins;
  font-size: 1.3rem;
  margin: 0 1rem;
  color: var(--text-color);
}

.production a:hover {
  color: var(--bg);
}

.navigation .production a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.production a:hover::after {
  transform: scaleX(0.5);
}

.production.active {
  background-color: #00000098;
}

.production.active a {
  color: var(--text-color);
}

.production.active a:hover {
  color: var(--bg);
}

.navigation-extra {
  display: block;
  visibility: visible;
  position: relative;
  z-index: 1;
}

.navigation-extra a {
  color: var(--text-color);
  margin: 0 0.5rem;
}

.navigation-extra a:hover {
  color: var(--bg);
}

#menu {
  display: none;
}

/*navbar search form*/

.search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  max-width: 50rem;
  height: 4rem;
  background-color: var(--text-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--bg);
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.search-form.active {
  transform: scaleY(1);
  right: 2rem;
  transition: 0.4s linear;
}

.search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  color: var(--main-color);
  padding: 0 1.5rem;
}

.search-form label {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--main-color);
  cursor: pointer;
  margin-top: 0.6rem;
}

.search-form label:hover {
  color: #c3b091;
}

/*----navbar end----*/

/*----home start----*/
.home {
  width: 100%;
  min-height: 50vh;
  background: url(img/home2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  position: relative;
}


.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}

#home {
  height: 100vh;
}

.slideshow-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}
.active {
  opacity: 1;
}

.slide1 {
  background-image: url(img/33.jpg);
}

.slide2 {
  background-image: url(img/11.png);
}

.slide3 {
  background-image: url(img/22.jpg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-family: poppins, sans-serif;
}

.overlay h1 {
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.overlay p {
  font-family: josefin slab;
  font-size: 1.8rem;
  font-weight: 100;
  text-shadow: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.cta-download {
  display: inline-block;
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
  background-color: transparent;
  border-radius: 30px;
  padding: 10px 15px;
  margin-top: 30px;
  position: relative;
  z-index: 10;
  border: solid var(--brown);
  font-weight: 400;
}

.cta-download i {
  color: var(--text-color);
  padding: 10px;
}

.cta-download:hover {
  background-color: var(--brown);
  color: var(--text-color);
  transition: 5s;
}

.cta-download:hover i,
.cta-download:active i {
  color: var(--text-color);
}

/*.cta {
  font-size: 1.1rem;
  color: var(--text-color);
  text-decoration: none;
  background-color: var(--brown);
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  margin-top: 8px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}*/
/*----home end----*/

/*----card info start----*/
.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  gap: 0;
  width: 100%;
  height: 100vh;
}

.card1 img,
.card2 img {
  width: 100%;
  height: 100%;
}

.card-card1 {
  background-color: var(--brown);
}

.card-card2 {
  background-color: var(--cream);
}
/*----card info end----*/

/*----katalog product start-----*/
.catalog-container {
  background-color: var(--cream);
  padding-bottom: 20px;
  flex-basis: 50%;
}

.catalog-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 7rem;
}

.catalog-container span {
  font-size: 24px;
  margin-bottom: 20px;
  color: #9b8a6f;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 55rem;
  object-fit: cover;
  border: 2px;
  padding: 20px;
  margin-bottom: 30px;
}

.swiper-slide-text {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
  background-color: var(--brown);
}

.swiper-pagination-bullet-active {
  background-color: var(--brown);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #000;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}
/*----katalog product end-----*/

/*----about start----*/
.container-about {
  background-color: var(--brown);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.about-text {
  background-color: var(--brown);
  width: 100%;
  text-align: center;
  color: var(--cream);
  font-size: 20px;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  width: 100%;
}

.about-img {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.about-img img {
  width: 100%;
  height: auto;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.about-text span {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--cream);
}

.about-text-section {
  flex: 1;
  padding: 20px;
  background-color: var(--brown);
  color: var(--cream);
}

.about-text-section h3 {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-text-section p {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-text-section li {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 15px;
}
/*----about end----*/


/*----contact section start----*/
.container-contact {
  background-color: var(--cream);
  padding: 30px;
}

.container-contact h2 {
  font-size: 24px;
  text-align: center;
  padding: 30px;
}

.container-contact span {
  color: var(--primary);
}

.container-contact p {
  color: var(--primary);
  font-size: 15px;
}

.container-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.box {
  text-align: center;
  border: 1px solid black;
  width: 350px;
  height: 150px;
  margin: 10px;
  font-size: 1.2em;
  background-color: transparent;
}

.box h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.box p {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
}

/*----contact section end----*/

/*----maps end----*/
.contact .row {
  display: flex;
}

.contact .row .maps {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 2px solid #31241e;
  padding: 10px;
  width: calc(33% - 40px);

  text-align: center;
  background-color: transparent;
  border: 1px solid #282828;

  flex: 1 1 300px;
  margin: 10px;
  box-sizing: border-box;
}

.card h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
}

.card p {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #282828;
  padding-left: 2rem;
  width: 50%;
  height: 6rem;
}

.input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #000;
}

.btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  font-size: 1.7rem;
  color: #ede2d1;
  background-color: var(--primary);
  cursor: pointer;

  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

/*logo
.logo img {
    height: 30%;
    width: 30%;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

/*----footer start----*/
footer {
  background-color: var(--second-bg-color);
  text-align: center;
  padding: 1rem 0 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover {
  color: #c3b091;
}

footer .links a:hover {
  color: #c3b091;
}

.footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #c3b091;
  font-weight: 700;
}


.card {
  flex: 1 1 100%;
}

.footer {
  background-color: var(--second-bg-color);
  color: var(--text-color);
}

.footer h2 {
  color: var(--text-color);
  font-size: 22px;
  text-align: center;
}

.footer h2 span {
  color: #c3b091;
  font-size: 22px;
}

.icon {
  color: #c3b091;
  font-size: 20px;
  margin: 20px;
}

.social a {
  color: #c3b091;
}
/*----footer end----*/

/*----maps start----*/
.row {
  flex-wrap: wrap;
}

.row .maps {
  height: 30rem;
}

.row form {
  padding-top: 0;
}

.row iframe {
  padding-bottom: 0;
}
/*----maps end----*/

